.viewed {
  margin: 50px 0 0;

  &-title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 25px;
  }

  &-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .catalog-item {
    width: 25%;

    @media(max-width: 992px) {
      width: 33%;
    }

    @media(max-width: 767px) {
      width: 50%;
    }

    @media(max-width: 499px) {
      width: 100%;
    }
  }
}
