.viewed {
  margin: 50px 0 0;

  &-title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 25px;
  }

  &-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .catalog-item {
    width: 100%;
    /*width: 25%;

    @media(max-width: 992px) {
      width: 33%;
    }

    @media(max-width: 767px) {
      width: 50%;
    }

    @media(max-width: 499px) {
      width: 100%;
    }*/
  }

  .slick-arrow {
    &:before {
      color: $red_color;
      transition: $transition_link;
      opacity: 1;
    }
    &:hover:before {
      color: $dark_red_color;
    }
  }
  .slick-dots {
    li {
      width: 10px;
      height: 10px;

      button {
        width: 10px;
        height: 10px;
        background: $red_color;
        border-radius: 50%;
        padding: 0;
        transition: $transition_link;

        &:before {
          content: normal;
        }
      }

      &.slick-active, &:hover {
        button {
          background: $dark_red_color;
        }
      }
    }
  }
}
