.favorite-item {
  width: 25%;
  padding: 10px;

  @media(max-width: 992px) {
    width: 33%;
  }

  @media(max-width: 767px) {
    width: 50%;
  }

  @media(max-width: 499px) {
    width: 100%;
  }

  &__wrapper {
    height: 100%;
    position: relative;
    padding: 20px 20px;
    background: $background_color;
    border: 1px solid $border_grey;
    transition: $transition_link;

    &:hover {
      border-color: $red_color;
      box-shadow: 10px 10px 0 $red_color;
    }
  }

  &__link {
    color: $black_color;
    text-decoration: none;
  }

  &__delete {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: $transition_link;

    .favorite-item:hover & {
      opacity: 1;
    }

    .btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      svg {
        width: 20px;
        height: auto;
      }
    }
  }

  &__image {
    margin-bottom: 15px;

    img {
      margin: 0 auto;
      max-height: 200px;
    }
  }

  &__name {
    height: 38px;
    margin: 15px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  &__price {
    margin: 15px 0;
    font-size: 24px;
    line-height: 28px;
    color: $dark_red_color;
  }
}
