.catalog-item {
  width: 25%;
  padding: 10px;

  &__wrapper {
    height: 100%;
    position: relative;
    padding: 20px 20px;
    background: $background_color;
    border: 1px solid $border_grey;
    transition: $transition_link;

    &:hover {
      border-color: $red_color;
      box-shadow: 10px 10px 0 $red_color;
    }
  }

  &__favorite {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: $transition_link;

    .btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      svg {
        width: 20px;
        height: auto;
      }
    }

    &.active {
      opacity: 1;
    }

    &.active &-btn {
      background-color: $dark_red_color;
      border-color: $dark_red_color;
    }

    .catalog-item:hover & {
      opacity: 1;
    }
  }

  &__image {
    margin-bottom: 15px;

    img {
      margin: 0 auto;
      max-height: 200px;
    }
  }

  &__name {
    height: 38px; /*Vremenno*/
    margin: 15px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  &__price {
    margin: 15px 0;
    font-size: 24px;
    line-height: 28px;
    color: $dark_red_color;
  }

  &__buy {
    margin-top: 15px;

    &-btn {
      width: 100%;
    }
  }
}

.modal-window {
  &__name-product {
    padding: 20px 0;
    font-size: 16px;
    line-height: 20px;
  }

  &__buttons {
    @include flex;
    padding-top: 20px;
    margin: 0 -15px;

    .btn {
      margin: 0 15px;
    }
  }
}
