header {
  background: $background_color;
  padding: 20px 0;

  .header {
    @include flex;

    &-logo {
      svg {
        width: 50px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

      @media(max-width: 767px) {
        font-size: 18px;
      }

      &__highlight {
        color: $red_color;
      }
    }

    &-tel {
      @media(max-width: 767px) {
          display: none;
      }

      &__link {
        font-size: 18px;
        line-height: 24px;
        color: $black_color;
        text-decoration: none;
        transition: $transition_link;

        &:hover {
          color: $dark_red_color;
        }
      }
    }

    &__auth {
      @include flex;
      margin: 0 -10px;

      @media(max-width: 767px) {
        display: none;
      }

      & > * {
        margin: 0 10px;
      }

      &-login {
        width: 123px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
      }
    }

    &-callback {
      .btn {
        @media(max-width: 992px) {
          padding: 10px 12px;
        }
      }
      &__text {
        @media(max-width: 992px) {
          display: none;
        }
      }

      svg {
        display: none;
        width: 16px;
        height: auto;

        @media(max-width: 992px) {
          display: inline-block;
        }
      }
    }
  }
}

.header-nav {
  position: sticky;
  top: 0;
  background: linear-gradient(to left, $dark_red_color 50%, $red_color 50%);
  z-index: 1;

  @media(max-width: 767px) {
    background: $red_color;
  }

  &__wrapper {
    @include flex;
  }

  &__menu-btn {
    display: none;
    margin-left: -15px;

    @media(max-width: 767px) {
      display: block;
    }

    .btn {
      display: flex;
      align-items: center;

      svg {
        width: 20px;
        height: auto;
        margin-right: 8px;
      }
    }
  }

  &__items {
    flex: 1;
    display: flex;
    align-items: center;
    height: 50px;
    background: $red_color;
    margin: 0 -10px;
    list-style: none;

    @media(max-width: 767px) {
      display: none;
    }
  }

  &__item {
    padding: 0 10px;

    a {
      font-size: 14px;
      line-height: 18px;
        color: #fff;
        text-decoration: none;

      &.active, &:hover {
        text-decoration: underline;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    height: 50px;
    background: $dark_red_color;
    margin: 0 -15px;

    .header-nav__tab {
      padding: 0 15px;

      &-link {
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        white-space: nowrap;
        text-decoration: none;
        transition: $transition_link;

        svg {
          width: 16px;
          height: auto;
          margin-right: 10px;
          vertical-align: text-top;
        }

        &:hover {
          color: $black_color;
        }
      }

      &--favorite {
        width: 70px;
      }

      &--cart {
        width: 150px;
        text-align: right;
      }
    }
  }
}

.menu__mobile {
  display: none;

  @media(max-width: 992px) {
    display: block;
    flex: auto;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    padding: 20px;
    background: #fff;
    overflow-y: scroll;
    z-index: 9;
    transition: $transition_link;

    &.open {
      left: 0;
    }

    &-bg {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(27, 27, 27, 0.5);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      cursor: pointer;
      opacity: 0;
      z-index: 8;
      transition: opacity 0.4s;

      &.open {
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }
  }

  &-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }

  &-item a {
    font-size: 18px;
    line-height: 24px;
    color: $black_color;
    text-decoration: none;
    transition: $transition_link;

    &:hover {
      color: $dark_red_color;
    }
  }

  &-tel {
    margin-top: 20px;

    &__link {
      font-size: 18px;
      line-height: 24px;
      color: $black_color;
      text-decoration: none;
      transition: $transition_link;

      &:hover {
        color: $dark_red_color;
      }
    }
  }

  .header__auth--mobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & > * {
      margin: 5px 0;
    }
  }
}
